@using CrudTest.Models.ViewModels
@{
    ViewData["Title"] = "AddEmployee";

}   
@model AddEmployeeViewModel

    <form id="addEmployeeId" action="#/add" method="post">
        <div id="name-group" class="row form-group">
            <div class="col-3 text-end">
                <label for="name"><b>Name</b></label>
            </div>
             <div class="col-3">
                <input type="text" placeholder="Enter name" name="name" id="name">
            </div>                                                   
        </div>

        <div id="surname-group" class="row form-group">
            <div class="col-3 text-end">
                 <label for="surname"><b>Surname</b></label>
            </div>
             <div class="col-3">
                <input type="text" placeholder="Enter surname" name="surname" id="surname" >
            </div>               
        </div>

        <div id="age-group" class="row form-group">
            <div class="col-3 text-end">
                 <label for="age"><b>Age</b></label>
            </div>
             <div class="col-3">
                <input type="text" placeholder="Enter age" name="age" id="age" >
            </div>               
        </div>
       
        <div id="department-group" class="row form-group">
            <div class="col-3 text-end">
                <label for="department"><b>Department</b></label>
            </div>

            <div class="col-3">
            <select class="form-select" type="text" placeholder="Choose department" name="department" id="department" value=" ">
                    <option selected>Choose department</option>
                    @{
                        if (Model.Departments != null)
                            foreach (var pl in Model.Departments)
                            {
                                <option value="@pl.Id">@pl.Name</option>
                            }
                    }
                </select>
            </div>
        </div>

        <div id="programmingLanguage-group" class="row form-group">
            <div class="col-3 text-end">
                 <label for="programmingLanguage"><b>Programming language</b></label>
            </div>

            <div class="col-3">
            <select class="form-select" type="text" placeholder="Choose programming language" name="programmingLanguage" id="programmingLanguage" value=" ">
                    <option selected>Choose programming language</option>
                    @{
                        if (Model.ProgrammingLaguages != null)
                            foreach(var pl in Model.ProgrammingLaguages)
                            {
                                 <option value="@pl.Id">@pl.Name</option>
                            }                           
                    }
                </select>
            </div>             
        </div>    

        <div class="row">
            <input type="submit" value="Add" class="col-1 offset-2 btn btn-primary"/>
        </div>

        <div class="row">
        <div id="OperationResult" class="col-6 text-center">

            </div>
        </div>
                                                                   
    </form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="~/js/employee/AddEmployeeScript.js"></script>


